body{
    background: black;
    color:aliceblue;
    font-family: "Roboto", sans-serif;
    margin: 0px;
}

header{
     font-size: 32px;
     border-bottom: 2px solid rgb(27, 27, 231);
     padding: 20px;
     color: rgb(141, 190, 247);
}

h1 {
    font-size: 26px;
    text-align: center;
}

p{
    font-size: 18px;
    padding-left: 50px;
}