body{
    background: black;
    color:aliceblue;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    margin: 0px;
}

header{
     /* font-family: sans-serif; */
     font-size: 60px;
     border-bottom: 2px solid blue;
}

h1 {
    font-size: 30px;
}

p{
    font-size: 20px;
}