body{
    background: black;
    color:aliceblue;
    font-family: "Edu VIC WA NT Hand Pre", cursive;
    margin: 0px;
}

header{
     /* font-family: sans-serif; */
     font-size: 32px;
     border-bottom: 2px solid rgb(27, 27, 231);
     padding: 20px;
     color: rgb(27, 27, 231);
}

h1 {
    font-size: 30px;
}

p{
    font-size: 20px;
}